:root {
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundario: 'Lato', sans-serif;
    --primario: #1073ba;
    --secundario: #00da55;
    --gris: #3b3b3b;
    --blanco: #ffffff;
    --negro: #1f1e1e;
    --grisClaro: #e1e1e1;
    --separacion: 5rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

/*globales*/
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: var(--fuenteSecundario);
    font-weight: 900;
    margin: calc( var(--separacion) / 2 ) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

/*utilidades*/
.text-center {
    text-align: center;
}

.degradado {
    color: transparent;
    background: linear-gradient( to right, var(--primario) 0%, var(--secundario) 100% );
    -webkit-background-clip: text;
    background-clip: text;
}


/*header*/
.header {
    background-color: var(--negro);
    padding: var(--separacion) 0;
    color: var(--blanco);
}

.header img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .header-contenido {
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
    }
}

.header-text {
    text-align: center;
    padding-top: var(--separacion);
}
@media (min-width: 768px) {
    .header-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        padding: 0;
    }
}
.header-text p {
    margin: 0;
}

.tagline-titulo {
    font-size: 3rem;
    font-weight: 900;
}

.titulo-producto {
    font-size: 6rem;
    margin: 0;
}

@media (min-width: 768px) {
    .titulo-producto {
        font-size: 10rem;
        line-height: 1;
    }
}
.precio-producto span {
    font-size: 6rem;
    font-weight: 900;
}

/*Iconos*/
.seccion-iconos {
    padding-top: var(--separacion);
}

@media (min-width: 768px) {
    .seccion-iconos {
        padding: var(--separacion) 0;
    }
}

@media (min-width: 768px) {
    .iconos-contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem
    }
}

.icono {
    text-align: center;
    margin-bottom: 2rem;
}
.icono:last-of-type {
    margin-bottom: 0;
}

@media (min-width:768px ) {
    .icono {
        margin-bottom: 0;
    }
}

.icono img {
    width: 5rem;
    margin: 0 auto;
}

.icono h3 {
    color: var(--primario);
    text-transform: uppercase;
    font-size: 2.4rem;
}

/*sobre-tech*/
.sobre-tech {
    background-image: linear-gradient( to bottom, transparent 50%, var(--primario) 0%), url(../img/imagen-mujer.jpg);
    background-repeat: no-repeat;
    background-size: 100%, 127rem;
    background-position: center right;
}



@media (min-width: 768px) {
    .sobre-tech {
        background-image: linear-gradient( to left, transparent 50%, var(--primario) 0%), url(../img/imagen-mujer.jpg);
    }
}

@media (min-width: 1600px) {
    .sobre-tech {
        background-size: 100%, 210rem;
    }
}

.sobre-contenedor {
    display: grid;
    grid-template-rows: repeat( 2, 45rem );
    row-gap: 4rem;
}

@media (min-width: 768px) {
    .sobre-contenedor {
        grid-template-rows: unset;
        grid-template-columns: repeat( 2, 1fr );
        row-gap: unset;
        column-gap: 4rem;
        padding: 4rem 0;
    }
}

.sobre-texto {
    color: var(--blanco);
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 4rem;
}

.sobre-texto h2 {
    font-size: 4.4rem;
}

.sobre-texto p {
    font-size: 1.8rem;
    line-height: 2;
    margin: 0;
}

@media (min-width: 350px) {
    .sobre-texto p {
        font-size: 2.2rem;
    }
}


/*productos*/
.productos {
    padding: calc( var(--separacion)/2 ) 0;
}
.productos h2{
    font-size: 6rem;
    margin-bottom: 2rem;
}
.productos-contenedor{
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 992px) {
    .productos-contenedor {
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
        gap: 3rem;
    }
}

.producto {
    background-color: var(--grisClaro);
    color: var(--primario);
    padding-left: 2rem;
    min-height: 20rem;
    margin-bottom: 2rem;
    background-repeat: no-repeat;
    background-position: 97%;
    background-size: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    transition-property: transform;
    transition-duration: .3s;
}
.producto:hover {
    transform: scale( 1.1 );
}

@media (min-width: 350px) {
    .producto {
        background-size: 15rem;
    }
}

@media (min-width: 992px) {
    .producto {
        margin-bottom: 0;
    }
}


.nombre-producto {
    font-size: 2.2rem;
}

.nombre-producto span {
    font-weight: 900;
}

.producto .precio-producto {
    font-size: 4rem;
    font-weight: 900;
    line-height: 0;
}

.modelo-x {
    background-image: url(../img/modelo-x.svg);
}

.modelo-y {
    background-image: url( ../img/modelo-y.svg );
}

.modelo-z {
    background-image: url( ../img/modelo-z.svg );
    background-color: var(--primario);
    color: var(--blanco);
}

@media (min-width: 992px) {
    .modelo-z {
        grid-column: 2/3;
        grid-row: 1/3;
        background-size: 25rem;
    }
}

.modelo-z .precio-producto {
    font-size: 5rem;
}

@media (min-width: 350px) {
    .modelo-z .precio-producto {
        font-size: 6rem;
    }

    .modelo-z .nombre-producto {
        font-size: 3rem;
    }
}

/*newsletter*/
.newsletter {
    background-image: linear-gradient( to bottom, transparent 50%, var(--negro) 0% ), url( ../img/newsletter.jpg );
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%, 77rem;
}
@media (min-width: 768px) {
    .newsletter {
        background-image: linear-gradient( to right, transparent 50%, var(--negro) 0% ), url( ../img/newsletter.jpg );
        background-size: 100%, 105rem;
        background-position: center, -18rem 0rem;
        padding: 7rem 0;
    }
}

@media (min-width: 1600px) {
    .newsletter {
        background-size: 100%, 180rem;
        background-position: center, -25rem -14rem;
        padding: 10rem 0;
    }
}
.newsletter-contenedor{
    display: grid;
    grid-template-rows: repeat( 2, 50rem );
}

@media (min-width: 768px) {
    .newsletter-contenedor {
        grid-template-rows: unset;
        grid-template-columns: repeat( 2, 1fr );
        column-gap: 6rem;
    }
}



.newsletter-texto {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .newsletter-texto {
        grid-row: unset;
        grid-column: 2/3;
    }
}

.formulario {
    margin-top: 2rem;
}

.formulario input[ type="text" ] {
    width: 100%;
    padding: 1rem 0;
    border-radius: .5rem;
}

.formulario input[ type="submit" ] {
    width: 100%;
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--blanco);
    background-color: var(--primario);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

/*Footer*/

.footer p {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--primario)
}